{% extends "twitterapiapp/base.html" %}

{% block content %}
    <div class="jumbotron">
            <h1>Twitter API Applications</h1>
            <p class="lead">Here are usages of Twitter API developed by <strong><a href="https://github.com/bounswe/bounswe2018group6">BounSWEGroup6</a></strong>. You can use this web interface, or can make your own API requests.</p>
    </div>
    
    
    <div class="py-2">
        <h1 class="mt-1">Retweet</h1>
        <p>Web interface for API call: <code>{% include "twitterapiapp/server" %}/retweet/username</code></p>
        <p>API call: <code>{% include "twitterapiapp/server" %}/api/retweet/username</code></p>
        <p>Retweets the last tweet of specified user.</p>
    </div>

{% endblock %}
