{% extends "twitterapiapp/base.html" %}

{% block content %}
    <div class="jumbotron">
            <h1>Twitter API Applications</h1>
            <p class="lead">Here are usages of Twitter API developed by <strong><a href="https://github.com/bounswe/bounswe2018group6">BounSWE2018Group6</a></strong>. You can use this web interface, or can make your own API requests.</p>
    </div>
    
    
    <div class="py-2">
        <h1 class="mt-1">Find Following List of a User</h1>
        <p>Web interface for API call: <code>{% include "twitterapiapp/server" %}/followings/screen_name?count=20</code></p>
        <p>API call: <code>{% include "twitterapiapp/server" %}/api/followings/screen_name?count=20</code></p>
        <p>Gets the list of users that the user with given screen name follows. By default, gets last 20 users, however custom number can be set using (optional) 'count' parameter.</p>
    </div>



    {# do not forget adding your api here. you can use above examples. #}


{% endblock %}
