
# Sorry MacOS
.DS_Store

# for /hw_twitterapi/
# Created by https://www.gitignore.io/api/django

### Django ###
*.log
*.pot
*.pyc
__pycache__/
/hw_twitterapi/local_settings.py
/hw_twitterapi/db.sqlite3
/hw_twitterapi/media
/hw_twitterapi/twitterapi/secret_key.py
/hw_twitterapi/twitter_key.txt
/hw_twitterapi/twitterapiapp/twitter_key.txt
/hw_twitterapi/twitterapienv

# End of https://www.gitignore.io/api/django

### PyCharm ###
.idea/

### VSCode ###
.vscode/


# Backend
.env
env/
venv/
backend/db.sqlite3
backend/media/
